<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" th:href="@{/css/jquery.emoji.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}"/>-->

<!--    <title>Teacher</title>-->
<!--</head>-->

<!--<head>-->

<!--<body>-->
<!--<div class="toolbar">-->
<!--    <button title="表情" class="face"></button>-->
<!--</div>-->
<!--<div class="content">-->
<!--    <textarea class="text" id="content" contenteditable>-->

<!--    </textarea>-->
<!--</div>-->
<!--<script>-->
<!--    $('#content').emoji({-->
<!--        button:'.face',-->
<!--        showTab: false,-->
<!--        animation: 'slide',-->
<!--        icons: [{-->
<!--            name: "QQ表情",-->
<!--            path: "/img/qq/",-->
<!--            maxNum: 91,-->
<!--            excludeNums: [41, 45, 54],-->
<!--            file: ".gif"-->
<!--        }]-->
<!--    });-->
<!--</script>-->


<!--<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>-->
<!--<script th:src="@{/js/jquery.emoji.js}"></script>-->
<!--<script th:src="@{/js/jquery.mousewheel-3.0.6.min.js}"></script>-->
<!--&lt;!&ndash;the js for jquery.mCustomScrollbar&ndash;&gt;-->
<!--<script th:src="@{/js/jquery.mCustomScrollbar.min.js}"></script>-->

<!--</body>-->

<!--</html>-->